<h1>Zodiac Love</h1>

<h2>New Message to <%= @receiver.user_name %></h2>
<form method ="POST" action ="message">
	<p><b>To: </b><%= @receiver.user_name %> </p>
	<p><b>From: </b><%= @sender.user_name %> </p>
	<input type ="hidden" name = "sender" value="<%= @sender.user_name %>"/>
	<input type ="hidden" name = "receiver" value="<%= @receiver.user_name %>"/>
	<label>Title</label><br/>
	<% if @title %>
	<input type = "text" name = "title" value ="<%= @title %>"/><br/>
	<% else %>
	<input type = "text" name = "title"/><br/>
	<% end %>
	<label>Body</label><br/>
	<textarea name ="message_body"></textarea><br/>
	<button>Send</button>

</form>

<%= link_to 'Back', :back %>
