<section id="account_info">
<h2>Account Info</h2>
<p><%= link_to "Delete my profile!", 'users/destroy', method: :delete, data:{ confirm: 'Are you sure?'} %></p>

<%= form_for @user, url: {action: "update"} do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, :placeholder => "ex: John" %>
  <br/>
  <%= f.label :last_name %>
  <%= f.text_field :last_name, :placeholder => "ex: Smith" %>
  <br/>
  <%= f.label :user_name %>
  <%= f.text_field :user_name, :placeholder => "ex: JohnSmith79" %>
  <br/>
  <%= f.label :email %>
  <%= f.text_field :email, :placeholder => "ex: John@Smith.com" %>
  <br/>
 <%= f.submit %>
<% end %>
</section>
<secton>
  <h2 id="profile_info">Profile info</h2>
  	 <%= image_tag @user.image.url(:large) if @user.image.url(:large) %>
  <%= form_for @user, url: {action: "update"} do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.label :born_on %>
  <%= f.date_field :born_on %>
  <br/>
  <%= f.label "I'm a: " %>
  <%= f.select(:gender) do %>
	  <% [
	  		['It doesn\'t matter','Doesn\'t Matter'],
	  		['Male','Male'],
	  		['Female','Female'], 
	  		['Transgender', 'Transgender'],
	  		['Other','Other']
	  	].each do |c| -%>
	    <%= content_tag(:option, c.first, value: c.last) %>
	  <% end %>
  <% end %>
  <br/>
  <%= f.label "Seeking a: " %>
  <%= f.select(:desired_gender) do %>
	  <% [
	  		['It doesn\'t matter','Doesn\'t Matter'],
	  		['Male','Male'],
	  		['Female','Female'], 
	  		['Transgender', 'Transgender'],
	  		['Other','Other']
	  	].each do |c| -%>
	    <%= content_tag(:option, c.first, value: c.last) %>
	  <% end %>
  <% end %>
  <br/>
  <%= f.label :zip_code %>
  <%= f.number_field :zip_code, options = {:min =>501, :max=>99950, :placeholder =>"90305"} %>
  <br/>
  <%= f.label "Height" %>
  <%= f.number_field :height_feet, options = {:min =>1, :max=>8, :placeholder =>"5"} %>
  <%=  "ft." %>
  <%= f.number_field :height_inches, options = {:min =>0, :max=>11, :placeholder =>"9"} %>
  <%=  "in." %>
  <br/>
  <%= f.label "Title" %>
  <%= f.text_field :profile_title %>
  
  <br/>
  <%= f.label "info"%>
  <br/>
  <%= f.text_area :profile_info, options = {:cols =>50, :rows=>15} %>
  <br/>
  <%= f.submit %>
</section>
<% end %>
