<form method="POST" action ="/signup">
	<input type ="hidden" name ="_method" value ="update">
	<label>First name</label>
	<input type ="text" name="first_name"  placeholder="First Name" value = "<%= @user.first_name %>" />
	<br/>
	<label>Last name</label>
	<input type ="text" name="last_name"  placeholder="Last Name" value = "<%= @user.last_name %>"/>
	<br/>
	<label>Username</label>
	<input type ="text" name="user_name"  placeholder="Username" value = "<%= @user.user_name %>"/>
	<br/>
	<label>Email Address</label>
	<input type ="email" name="email"  placeholder="Email Address" value = "<%= @user.email %>" />
	<br/>
	<label>Birthday</label>
	<input type ="text" name="born_on"  placeholder="Birthday" value = "<%= @user.born_on %>" />
	<br/>
	<hr>
		
	<button>Submit</button>
</form>
