<% if current_user%>
	<h1>Welcome <%= current_user.user_name %></h1>
	<section class="panel panel-default row">
  		<div class="panel-heading">
    		<h2>Dashboard</h2>
  		</div>
  		<div class="panel-body col-md-3 col-md-offset-1">
			<% @user = current_user %>
			<ul class="nav nav-pills nav-stacked">
				<li role="presentation"> <b>Name:</b> <%= "#{@user.first_name} #{@user.last_name}"%> </li>	
				<li> <b>Email:</b> <%= @user.email %> </li>	
				<li> <b>Username:</b> <%= @user.user_name %> </li>	
				<li> <b>Sign:</b> <%= @user.sun_sign.name %> </li>	
				<li> <b>DOB:</b>
					<%= "#{Date::MONTHNAMES[@user.born_on.month]} #{@user.born_on.day}" %> 
				</li>
			</ul>
			<ul class="nav nav-pills nav-stacked row">
				<li><%= link_to "View your profile", @user.user_name %> </li>	
				<li><%= link_to "Search Users", search_path %> </li>	
				<li><%= link_to "Check Messages", messages_path %> </li>	
			</ul>
		</div>
		<div class="panel-body col-md-7 col-md-offset-1">
		  <% if @user.image.url(:large).to_s !="/images/large/missing.png" %>
          	<%= image_tag @user.image.url(:large), :class => "col-xs-6 col-xs-offset-3"  %>
          <% else %>
          	<p class="sun-symbol"><%= @user.sun_sign.symbol %></p>
          <% end %>
          <div class="row">
				<div class="col-md-8 col-md-offset-2">
					<p><%=  @user.sun_sign.info.split("@@@").first %></p>
					<%= link_to "Read more...", sign_path(@user.sun_sign.name) %>
				</div>
			</div>
		</div>
	</section>
<% else %>
	<%= link_to 'Sign Up', 'signup' %>
<% end %>