<% if current_user%>
	<h1>Welcome <%= current_user.user_name %></h1>
	<ul>
		<% @user = current_user %>
	
			<li> <b>Name:</b> <%= "#{@user.first_name} #{@user.last_name}"%> </li>	
			<li> <b>Email:</b> <%= @user.email %> </li>	
			<li> <b>Username:</b> <%= @user.user_name %> </li>	
			<li> <b>Sign:</b> <%= link_to @user.sun_sign.name, sign_path(@user.sun_sign.name) %> </li>	
			<li> <b>DOB:</b> <%= "#{@user.sun_sign.month} #{@user.born_on.day}" %> </li>
			<li> <%= link_to "Update my profile", user_edit_path(@user) %> </li>
			<li> <%= link_to "Messages", messages_path %></li>	
			<li>
				<form method="POST" action="logout">
				<input type ="hidden" name ="_method" value="delete">
				<button>Logout</button>	
				</form>	
			</li>
			<li><%= link_to "Delete my profile!", 'users/destroy', method: :delete, data:{ confirm: 'Are you sure?'} %></li>
	</ul>
	<ul>
		<% @users.each do |user| %>
		<li><%= link_to user.user_name, user.user_name %></li>
		<% end %>

	</ul>


<% else %>
<%= link_to 'Sign Up', 'signup' %>
<% end %>