<h2><%= @user.user_name %></h2>
<%= link_to @user.sun_sign.name, sign_path(@user.sun_sign.name) %>
<% if @user.profile_title %>
	<h2><%= @user.profile_title %></h2>
	<hr>
	<% if @user.image.url(:large).to_s !="/images/large/missing.png" %>
		<%= image_tag @user.image.url(:large)  %>
	<% else %>
		<p style="font-size: 7em; text-align: center"><%= @user.sun_sign.symbol %></p>
	<% end %>
	
	<br/>
<% else %>
	<h2><%= @user.gender %> seeks <%= @user.desired_gender %></h2>
<% end %>
<hr>
<% if @user.profile_info %>
	<p><%= @user.profile_info %></p>
<% else %>
	<p></p>
<% end %>

<%= link_to "Message #{@user.user_name}!", new_message_path(@user.user_name)%>

<%= link_to 'Home', users_path %>