<div class="panel panel-default">
  <div class="panel-heading">
    <h1 ><%= @sun_sign.name %></h1>
  </div>
  <div class="panel-body">


	<div class="row">
		<div class="col-md-5 col-md-offset-1">
		<h2>Characteristics</h2>
	<big><b>Dates:</b></big> <%= @sun_sign.month %>, <%= @sun_sign.day %> to <%= @next_sign.month %>, <%= @last %> <br/>
	<big><b>Quality:</b></big> <%= @sun_sign.quality %> <br/>
	<big><b>Element:</b></big> <%= @sun_sign.element %> <br/>
	<big><b>Ruled By:</b></big> <%= @sun_sign.celestial_body %> <br/>
	<big><b>Info:</b></big><br/>
	</div>
	<div class="col-md-5">
		<h1 style="font-size: 10em;"><%= @sun_sign.symbol %></h1>
	</div>
	</div>
	<div class="col-md-10 col-md-offset-1">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<% @info.each do |paragraph| %>
			<p><%=  paragraph %></p>
		<% end %>
		</div>
	</div>
	<br/>
	<big><b>Strengths:</b></big> <%= @sun_sign.strengths %> <br/>
	<big><b>Weaknesses:</b></big> <%= @sun_sign.weaknesses %> <br/>
	<big><b>Gets along with:
	<% @compatible.each  do |sign|%>
		<%= link_to "#{sign}", sign_path(sign) %>
	<% end %>
	</b></big>
	 <br/>
	<big><b>Doesn't get along  as well with:
	<% @incompatible.each  do |sign|%>
		<%= link_to "#{sign}", sign_path(sign) %>
	<% end %>
	</b></big>
	 <br/>
</div>

<br/>
<br/>
  </div>
</div>
<div class="panel-footer">
<ul class = "nav nav-pills">
		<li role="presentation"><%= link_to '<- Previous', sign_path(@previous.name) %> </li>
		<li role="presentation"><%= link_to 'Back', :back %> </li>
		<li role="presentation"><%= link_to 'Signs', signs_path %></li>
		<li role="presentation"><%= link_to 'Next ->', sign_path(@next.name) %></li>
	</ul>





</div>
